/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

a i {
	text-decoration: none;
}


/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*MY CODE*/

.header{
		background-color:#0B0746;
		padding: 20px;
		text-align:center;
}

.titleName{
	color: #fff;
	font-size: 50px;
	text-align: center;
}

.email{
	color:#fff
}

.topnav{
	overflow: hidden;
	background-color:#333;
	border: 2px solid #9E9E9E;
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 5;
}

.topnav a{
	float: left;
	display: block;
	color:#f2f2f2;
	text-align: center;
	padding: 14px 16px; /*vertical - horizontal padding*/
	text-decoration: none;
}

.topnav a:hover{
	background-color: #ddd;
	color:black;
	
}

.background{
	background-image: url("train.gif");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	height:100%;
}
.header a{
}

.centering{
	text-align: center;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.links{
	height: 500px;
	margin: 0 auto;
	padding: 0;
}

.icons{	
	position: relative;
	margin: 0 auto;
	padding: 0;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.icons ul{
	position: relative;
	margin: 0;
	padding: 0;
	display: flex;
	
}

.icons ul.actIcons li{
	list-style: none;
}

.icons ul.actIcons li a{
	position: relative;
	display: block;
	width: 150px;
	height: 150px;
	color: #fff;
	text-align: center;
	line-height: 150px;
	margin: 0 240px;
	box-shadow: 0 0 0 10px #262626;
	overflow: hidden;
	border-radius: 50%;
}

.icons ul.actIcons li a i.fab{
	position: relative;
	width: 100%;
	height: 100%;
	height: 60px;
	line-height: 60px;
	transition: .5s;
}

.icons ul.actIcons li a:hover i.fab.fa-github{
	transform: translateY(-255%);
	color:#673AB7;
}

.icons ul.actIcons li a:hover i.fab.fa-linkedin{
	transform: translateY(-255%);
	color:#0D47A1;
}

.icons ul.actIcons li a:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	transform-origin: top;
	transform: scaleY(0);
	transition: transform .5s;
}

.icons ul.actIcons li a:hover:before{
	transform: scaleY(1);
}



.iconMSG li{
	position: relative;
	display: block;
	font-size: 25px;
	text-align: center;
	color: white;
	margin: 0 240px;
	transition: transform .5s;
	padding: 20px 0;
}

.iconMSG li a{
	color: white;
}

.spacing{
	height:200px;
	margin: 0 auto;
	color: white;
}

.aboutMe{
	height:200px;
	margin: 0 auto;
	background-color:white;
}

.moreInfo{
	height: 200px;
	color: black;
	background-color: white;
}

.Video{
	margin-left: -10px;
}

/* jQuery class stuff*/
.githubChange{
	transform: translateY(-255%);
	color: #673AB7;
}

.linkedInChange{
	transform: translateY(-255%);
	color: #0D47A1;
}

.icons ul.actIcons li a.special:before{
	transform: scaleY(1);
}






























